/* ====== الصفحة كاملة ====== */
body {
    background-color: #f6faff;
}

/* العنوان الرئيسي */
h1 {
    text-align: center;
    color: #1f76d1;        /* الأزرق */
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
}


/* الوصف العام */
h3 {
    text-align: center;
    color: #1b4d3e;         /* الأخضر */
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #1b4d3e;         /* الأخضر */
    font-size: 20px;
    line-height: 1.7;
    width: 75%;
    margin: auto;
}


p {
    font-size: 20px;
    line-height: 1.7;
    color: #333;
    text-align: center;
}

/* ====== الفوائد (Streamlit boxes) ====== */
.stAlert {
    border-radius: 18px !important;
    padding: 18px !important;
    font-size: 18px !important;
}

.stButton>button {
    background-color: #1fa8e8 !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    padding: 14px 22px !important;
    border: none !important;
}
