body {
    background-color: #F2FFF7 !important;
}

main > div {
    background-color: #F2FFF7 !important;
}

[data-testid="stAppViewContainer"] {
    background-color: #F2FFF7 !important;
}

/* ===== HEADER STYLE ===== */
.login-header {
    width: 75%;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.login-header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #1b4d3e;
    margin: 0;
}

.login-header p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
    color: #87CEFA;
}
/* ===== تنسيق رسائل الأخطاء ===== */

.error-box {
    background: #ffdddd;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 6px solid #b00000;
}
.error-title {
    color: #b00000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.error-list li {
    color: #600000;
    font-size: 15px;
    margin-left: 20px;
}

.warning-box {
    background: #fff4cc;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 6px solid #b88600;
}
.warning-title {
    color: #b88600;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.warning-list li {
    color: #7a5a00;
    font-size: 15px;
    margin-left: 20px;
}

/* ===== تنسيق صندوق الإدخال ===== */

div[data-testid="stTextInput"] input {
    font-size: 30px !important;
    height: 60px !important;
    padding: 18px !important;
    border-radius: 15px !important;
    border: 3px solid #1b4d3e !important;
    background: #f8fff8 !important;
    color: #1b4d3e !important;
}

/* ===== تنسيق اسم الحقل (الليبل) ===== */

div[data-testid="stTextInput"] label {
    font-size: 24px !important;
    font-weight: 800 !important;
    color: #6ECF82 !important;
}



/* ===== تكبير الليبل (Username / Password) ===== */

div[data-testid="stTextInput"] label p {
    font-size: 26px !important;
    font-weight: 700 !important;
    color: #1b4d3e !important;
}
/* زر Login */
button[kind="secondary"] {
    background: linear-gradient(90deg, #1b8a5a, #0277bd) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    padding: 0.6em 2em !important;
    transition: all 0.3s ease;
    border: none !important;
}

button[kind="secondary"]:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 8px rgba(0, 90, 120, 0.3);
}
