.stApp {
    background-color: #f4faff;
}

[data-testid="stMetric"] {
    background-color: #ffffff;
    padding: 15px 10px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

button[data-baseweb="tab"] {
    font-weight: 600;
    padding: 8px 14px;
    color: #1b4d6a;
    background-color: #e6f4ff;
    border-radius: 8px;
}

.block-container {
    padding-top: 1.5rem;
}
/* ⭐ زر primary (معتمد للتنبؤ وغيره) */
button[kind="primary"] {
    background: linear-gradient(90deg, #009688, #0277bd) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    padding: 10px 32px !important;
    border-radius: 10px !important;
    border: 2px solid #0277bd !important;
    text-align: center !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15) !important;
    transition: all 0.3s ease !important;
}

button[kind="primary"]:hover {
    transform: scale(0.97);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25) !important;
}

