/* ====== الصفحة كاملة ====== */
body {
    background-color: #f6faff;
}

/* ===== ألوان وتنسيق الهوم ===== */

/* العنوان الرئيسي (H1) – أزرق وفي المنتصف */
h1 {
    text-align: center;
    color: #0074D9;          /* أزرق جميل */
    font-size: 46px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 6px;
}

/* السطر اللي تحته (H3) */
h3 {
    color: #1b4d3e;
    font-weight: 800;
}

/* تعريف المشروع والفقرات – أخضر ناعم */
p {
    color: #0F9D58;           /* أخضر */
    font-size: 18px;
    line-height: 1.6;
}

/* زر صفحة التنبؤ */
div.stButton > button {
    background-color: #1b4d3e;
    color: #ffffff;
    border-radius: 10px;
    padding: 0.6rem 2.5rem;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

/* تأثير بسيط عند مرور الماوس */
div.stButton > button:hover {
    background-color: #145236;
}




/* ====== الفوائد (Streamlit boxes) ====== */
.stAlert {
    border-radius: 18px !important;
    padding: 18px !important;
    font-size: 18px !important;
}

.stButton>button {
    background-color: #1fa8e8 !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    padding: 14px 22px !important;
    border: none !important;
}
