/* ===== Title ===== */
.section-title {
    text-align: center;
    color: #1b4d3e;
    font-size: 70px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 35px;
}
.project-description {
    width: 70%;
    margin: 0 auto 40px auto;    /* بالنص تماماً */
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 18px;

    /* ظل احترافي */
    box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.08);

    /* الخط */
    font-size: 50px;
    color: #1b66c9;               /* الأزرق الجميل */
    line-height: 1.8;
    font-weight: 700;
    text-align: center;

    /* أنيميشن دخول خفيفة */
    animation: fadeIn 0.8s ease-out;
}

/* تأثير دخول */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* ===== Benefit Cards ===== */
.benefit-card {
    background: #ffffff;
    width: 85%;
    margin: 0 auto 25px auto;
    padding: 25px 28px;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-left: 8px solid #1b4d3e;
}

.benefit-title {
    font-size: 26px;
    font-weight: 800;
    color: #1b4d3e;
    margin-bottom: 8px;
}

.benefit-card p {
    font-size: 18px;
    color: #555;
    line-height: 1.7;
}

