/* ====== العنوان الرئيسي ====== */
.main-title {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #004aad;
    margin-top: 25px;
}

/* ====== العنوان الفرعي ====== */
.subtitle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1b4d3e;
    margin-bottom: 25px;
}

/* ====== وصف المشروع ====== */
.project-description {
    text-align: center;
    max-width: 850px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}

/* ====== عنوان الفوائد ====== */
.benefits-title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #222;
    margin-bottom: 25px;
}

/* ====== تصميم الكروت ====== */
.benefit-card {
    width: 85%;
    margin: 20px auto;
    padding: 25px 28px;
    border-radius: 18px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
}

/* كروت الوان مختلفة */
.green-card {
    background: #dff4e5;
    border-left: 8px solid #3fa85f;
}

.blue-card {
    background: #e3ecfc;
    border-left: 8px solid #4a79ff;
}

.yellow-card {
    background: #fff5dd;
    border-left: 8px solid #ffb300;
}

.orange-card {
    background: #ffe8d9;
    border-left: 8px solid #ff7a30;
}

/* عنوان داخل الكارد */
.benefit-card h3 {
    font-size: 24px;
    font-weight: 800;
    color: #1b4d3e;
    margin-bottom: 8px;
}

/* نص الكارد */
.benefit-card p {
    font-size: 18px;
    color: #555;
    line-height: 1.7;
}

.prediction-btn {
    background-color: #1E90FF;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.prediction-btn:hover {
    background-color: #0F75D3;
}


   
