.hero-card {
    background-color: #ffffff;
    padding: 35px;
    margin: 25px auto;
    max-width: 950px;
    border-radius: 25px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.home-title {
    font-size: 48px;
    font-weight: 900;
    color: #1b4d3e;
    margin-bottom: 15px;
}

.home-description {
    font-size: 20px;
    line-height: 1.7;
    color: #333333;
    margin-top: 10px;
}



.benefits-section {
    margin-top: 40px;
    text-align: center;
}

.benefits-title {
    font-size: 36px;
    font-weight: 900;
    color: #1b4d3e;
    margin-bottom: 30px;
}

.benefits-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.benefit-card {
    background-color: #ffffff;
    padding: 25px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.05);
}

.benefit-card h3 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 16px;
    color: #444444;
}

.blue-border { border-top: 5px solid #4aa3df; }
.green-border { border-top: 5px solid #2fa05a; }
.aqua-border { border-top: 5px solid #6ed7cf; }


   
