/* ===== تنسيق رسائل الأخطاء ===== */

.error-box {
    background: #ffdddd;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 6px solid #b00000;
}
.error-title {
    color: #b00000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.error-list li {
    color: #600000;
    font-size: 15px;
    margin-left: 20px;
}

.warning-box {
    background: #fff4cc;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 6px solid #b88600;
}
.warning-title {
    color: #b88600;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.warning-list li {
    color: #7a5a00;
    font-size: 15px;
    margin-left: 20px;
}


/* ===== تنسيق حقول الإدخال ===== */

.login-input input {
    font-size: 28px !important;
    font-weight: 600 !important;
    padding: 18px !important;
    height: 55px !important;
    border-radius: 14px !important;
    border: 2px solid #1b4d3e !important;
    background-color: #f8fff8 !important;
    color: #1b4d3e !important;
    width: 100% !important;
}

/* ===== الليبل ===== */
.login-input label {
    font-size: 22px !important;
    font-weight: 800 !important;
    color: #1b4d3e !important;
}

/* ===== تأثير التركيز ===== */
.login-input input:focus {
    border: 2px solid #87cefa !important;
    outline: none !important;
}
